::-webkit-scrollbar {
  display: none;
  width: 0px;
}

:root {
  --primary-color: #264653;
  --primary-color-hover: #366172;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

p {
  margin-bottom: 0rem;
  padding: 0;
}

.btn-primary{
  background-color: var(--primary-color);
}

section {
  padding-top: 70px;
}

.warning-card {
  background-color: var(--primary-color);
}
.text-second {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .hide-in-mobile {
    display: none;
  }
}

/* hero */
.heading{
  font-size:larger;
}

.eight-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1024px) {
  .eight-product {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .eight-product {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 375px) and (orientation: portrait) {
  .eight-product {
    grid-template-columns: 1fr;
  }
}

.our-app-download {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
}

.our-app-download:hover {
  fill: var(--primary-color);
  color: var(--primary-color-hover);
}
